site_name: PON dot WIKI
site_url: https://pon.wiki
site_description: >-
  We're unlocking the FTTP edge with the freedom of choice through shared knowledge and open standards while 
  empowering SOHO operators by kicking the ISP CPE to the curb
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - sane_lists
  - tables
  - toc:
      permalink: true
theme:
  name: material
  palette:
    primary: blue
    accent: blue
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - navigation.expand
    - navigation.indexes
    - navigation.tabs
    - navigation.top
    - navigation.tracking
  custom_dir: overrides
  logo: assets/images/logo.svg
  favicon: assets/images/favicon.png
extra_css:
  - stylesheets/extra.css
hooks:
  - hooks/external_links_md_extension.py
plugins:
  - blog:
      authors: false
      blog_dir: .
      post_excerpt: required
      post_excerpt_max_authors: 0
      post_excerpt_max_categories: 3
      post_url_format: "guides/{slug}"
  - glightbox:
      loop: false
      skip_classes:
        - nolightbox
      zoomable: false
  - search
nav:
  - Guides:
    - index.md
  - GPON:
    - gpon/index.md
  - XGS-PON:
    - xgs-pon/index.md
    - ONT:
      - BFW Solutions:
        - xgs-pon/ont/bfw-solutions/was-110.md
extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.com/servers/8311-886329492438671420
  storyset: true
copyright: CC BY-NC-SA 4.0
repo_url: https://github.com/up-n-atom/8311
repo_name: up-n-atom/8311
