#uncomment for non-insiders
#mkdocs-material >= 9.5.28
mkdocs-glightbox
mkdocs-table-reader-plugin
mkdocs-redirects
mkdocs-macros-plugin
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
