{% import  'macros.md' as includes %}

# {% block name %}{{ device.title if device.title is defined }}{% endblock %}

{% block specifications %}
{% if device.specifications is defined and device.specifications%}
## Specifications

{{ iterate_specifications(device) }}
{% endif %}
{% endblock %}

{% block images %}
{% if device.images is defined and device.images %}
## Images

{{ includes.iterate_images(device) }}
{% endif %}
{% endblock %}

{% block credentials %}
{% if device.credentials is defined and device.credentials %}
## Login Credentials

{{ iterate_credentials(device) }}
{% endif %}
{% endblock %}

{% block vendor_credentials %}{% endblock %}

{% block connection_notifications %}
{% if device.notices is defined %}
{{ iterate_notices(device) }}
{% endif %}
{% endblock %}

{% block value_added_resellers %}
{% endblock %}

{% block content %}
{% if device.content is defined %}
{% for content in device.content %}
{% include content %}
{% endfor %}
{% endif %}
{% endblock %}
