{% extends "device.tmpl" %}

{% block specifications %}
{% if odm.specifications is defined %}
## Specifications

{{ iterate_specifications(odm) }}
{% endif %}
{% endblock %}

{% block vendor_credentials %}
{% set result = generate_vendor_credentials(device, odm, onu_type) %}
{% if result %}
{{ result }}
{% endif %}
{% endblock %}

{% block credentials %}
{% if device.credentials is defined and device.credentials %}
{% set onu = device %}
{% elif odm.credentials is defined and odm.credentials %}
{% set onu = odm %}
{% endif %}
{% if onu is defined and onu.credentials %}
## Login Credentials

{{ iterate_credentials(onu) }}
{% endif %}
{% endblock %}

{% block connection_notifications %}
{{ iterate_notices(odm, notices) if odm.notices is defined }}
{% endblock %}

{% block content %}
{% if odm.content is defined %}
{% for content in odm.content %}
{% include content %}
{% endfor %}
{% endif %}
{% endblock %}
