{%  extends "device.tmpl"  %}

{%  if device.odm is defined
    and device.odm is not none  %}
    {%  set odm = onu_type[device.odm]  %}
{%  else  %}{%  set odm = device  %}{%  endif  %}

{%  block specifications  %}
{{  specifications_tables(odm)
    if (device.specifications is not defined
        or device.specifications is none)
    and (odm.specifications is defined
        and odm.specifications is not none)
    else super()  }}
{%  endblock  %}

{%  block images  %}
{{  iterate_images(odm)
    if (device.images is not defined
        or device.images is none)
    and (odm.images is defined
        and odm.images is not none)
    else super()  }}
{%  endblock  %}

{%  block connections  %}
{{  connections_table(odm)
    if (device.connections is not defined
        or device.connections is none)
    and (odm.connections is defined
        and odm.connections is not none)
    else super()  }}
{%  endblock  %}

{%  block vendor_credentials  %}
{%  set result = generate_vendor_credentials(odm, onu_type)
    if device == odm  %}
{{  result if result is not none  }}
{%  endblock  %}

{%  block notices  %}
{{  iterate_notices(odm)
    if (device.notices is not defined
        or device.notices is none)
    and (odm.notices is defined
        and odm.notices is not none)
    else super()  }}
{%  endblock  %}

{%  block value_added_resellers  %}
{{  resellers_table(odm)
    if device == odm and odm.resellers is defined
    and odm.resellers is not none  }}
{%  endblock  %}

{%  block content  %}
{%  if (device.content is not defined
        or device.content is none)
    and (odm.content is defined
        and odm.content is not none)  %}
    {%  for content_group in odm.content  %}
        {%  set group = process_content_group(content_group)  %}
{{  render_content_group(group)
    if group is defined
    and group is not none  }}
{%  endfor  %}{%  else  %}{{  super()  }}{%  endif  %}
{%  endblock  %}
