{% extends "device.tmpl" %}

{% block specifications %}
{% if gpon_onu.sps_34_24t_hp_tdfo.specifications is defined %}
## Specifications

{{ iterate_specifications(gpon_onu.sps_34_24t_hp_tdfo) }}
{% endif %}
{% endblock %}

{% block vendor_specific %}
## Vendor Specific

### Login Credentials

=== "G-010S-P"
    {{ includes.iterate_credentials(gpon_onu.g_010s_p) }}

=== "GPON-ONU-34-20BI"
    {{ includes.iterate_credentials(gpon_onu.gpon_onu_34_20bi) }}

=== "MA5671A"
    {{ includes.iterate_credentials(gpon_onu.ma5671a) }}
{% endblock %}

{% block connection_notifications %}
??? info "Management Connection"
    Some firmware versions use outdated algorithms for SSH and SCP, in this case it may be necessary to use the
    following parameters:

        -oKexAlgorithms=+diffie-hellman-group1-sha1 -oHostKeyAlgorithms=+ssh-dss

??? info "Management Connection"
    The module defaults to a gateway of `192.168.2.2` or `192.168.2.0`, so connecting can be tricky initially if it is not physically connected to the device you are connecting from.

!!! warning "RX_LOS"
    The module outputs an RX_LOS signal when no fibre/light is detected. Some equipment may disable the interface when detecting the RX_LOS signal.
{% endblock %}

{% block content_00 %}
## Backing Up U-Boot Env Vars

Run the command:

```sh
fw_printenv
```

and save the output somewhere safe.
{% endblock %}

{% block content_01 %}{% include "gpon/ont/sps-34-24t-hp-tdfo/backup-firmware.md" %}{% endblock %}

{% block content_02 %}{% include "gpon/ont/sps-34-24t-hp-tdfo/flashing-firmware.md" %}{% endblock %}
