{% extends "device.tmpl" %}
{% set oem = gpon_onu.sps_34_24t_hp_tdfo %}

{% block specifications %}
{% if oem.specifications is defined %}
## Specifications

{{ iterate_specifications(oem) }}
{% endif %}
{% endblock %}

{% block vendor_specific %}
{% if device == oem %}
## Vendor Specific

### Login Credentials
{% for name in oem.aliases %}
{% set alias = gpon_onu.get(name) %}
=== "{{ alias.title }}"
    {{ iterate_credentials(alias) }}
{% endfor %}
{% endif %}
{% endblock %}

{% block connection_notifications %}
{{ iterate_notices(oem, notices) if oem.notices is defined }}
{% endblock %}

{% block content_00 %}
## Backing Up U-Boot Env Vars

Run the command:

```sh
fw_printenv
```

and save the output somewhere safe.
{% endblock %}

{% block content_01 %}{% include "gpon/ont/sps-34-24t-hp-tdfo/backup-firmware.md" %}{% endblock %}

{% block content_02 %}{% include "gpon/ont/sps-34-24t-hp-tdfo/flashing-firmware.md" %}{% endblock %}
