{% extends "odm.tmpl" %}
{% set odm = onu_type.wag_d20 %}

{% block value_added_resellers %}
{% if device == odm %}
## Value-Added Resellers

| Company                                        | Product Number |
| ---------------------------------------------- | -------------- |
| [Azores Networks](https://azoresnetworks.com/) | X1Z1E[^1]      |

[^1]: Azores Networks X1Z1E formally WAG-D20
{% endif %}
{% endblock %}